.produtos__container {
  background-color: var(--cinza-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 15px;
}

.produtos__bloco {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  max-width: 1440px;
}

.produtos__box {
  display: flex;
}

.produtos__titulo {
  /* color: #fff; */
  font-size: 1.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
  top: 30px;
}

.produtos__titulo::after {
  content: '';
  display: block;
  width: 140px;
  border-bottom: solid var(--laranja) 3px;
  margin-bottom: 25px;
}

.produtos {
  border: 3px solid var(--laranja);
  border-radius: 40px;
  height: 100%;
  min-height: 180px;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  /* color: #fff; */
  cursor: pointer;
  transition: .4s;
}

.produtos:hover {
  border-radius: 8px;
  transition: .4s;
}

.produtos .produto__titulo {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

.produtos .produto__descricao {
  text-align: center;
  font-size: 1rem;
  line-height: 19px;
  padding-top: 15px
}

@media screen and (min-width: 1025px) {
  .produtos:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .produtos__box {
    flex-direction: column;
    padding-top: 50px;
  }

  .produtos {
    width: 80%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 475px) {
  .produtos .produto__titulo {
    font-size: 1.2rem;
  }

  .produtos .produto__descricao {
    text-align: center;
    font-size: .9rem;
    line-height: 17px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 375px) {}