.servicos__container {
  background-color: var(--cinza-bg);
  padding: 30px 15px 25px;
}

.slider {
  max-width: 1440px;
  margin: 0 auto;
}

.slides {
  display: flex;
  align-items: center;
  padding-top: 50px;
  height: 300px;
  width: 100%;
}

.slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide img {
  display: block;
  max-width: 100%;
}

.servicos__titulo {
  display: flex;
  justify-content: center;
  color: var(--laranja);
  text-transform: uppercase;
  padding-top: 25px;
  font-size: 1.5rem;
}

.servicos__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.servicos__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.servicos__card-text {
  width: 100%;
  height: 70px;
  text-align: center;
  margin-top: 15px;
  font-size: 1rem;
}

@media screen and (max-width: 1024px) {
  .servicos__card-text {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 960px) {
  .servicos__card-text {
    font-size: 1.1rem;
    width: 100%;
  }
}
 
@media screen and (max-width: 768px) {
  .servicos__icones {
    width: 100px;
  }

  .servicos__card-text {
    font-size: 1em;
  } 
}

@media screen and (max-width: 576px) {
  .servicos__card-text {
    font-size:.9rem;
  } 
}

@media screen and (max-width: 425px) {
 .servicos__container {
  display: flex;
  flex-direction: column;
  height: 900px;
 }
 
  .slides {
    flex-direction: column;
  }

  .servicos__titulo {
    font-size: 1.2rem;
    padding-top: 0;
    margin-bottom: 40px;
  }
  
  .servicos__card-text {
    font-size: .9rem;
  } 
}

@media screen and (width: 375px) {
  .servicos__titulo {
    margin-bottom: 40px;
    text-align: center;
  }
}

@media screen and (width: 320px) {
  .servicos__titulo {
    font-size: 1rem;
  }
}