.sobre-nos__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.sobre-nos__bloco {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 200px 0;
}

.sobre-nos__img {
  width: 40%;
}

.sobre-nos__img img {
  width: 100%;
  border-radius: 5px;
}

.sobre-nos__classe::before {
  content: '';
  display: block;
  position: absolute;
  background-color: transparent;
  border-radius: 20px;
  border: solid var(--laranja) 5px;
  width: 800px;
  height: 350px;
  top: 100px;
  left: -530px;
  z-index: -1;
}

.sobre-nos__classe::after {
  content: '';
  display: block;
  position: absolute;
  background-color: transparent;
  border-radius: 20px;
  border: solid var(--azul-bg) 5px;
  width: 800px;
  height: 350px;
  top: 90px;
  left: -540px;
  z-index: -1;
}

.sobre-nos__titulo {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5em;
}

.sobre-nos__titulo::after {
  content: '';
  display: block;
  width: 160px;
  border-bottom: solid var(--laranja) 3px;
  margin-bottom: 25px;
}

.sobre-nos__box {
  width: 50%;
}

.sobre-nos__box p {
  width: 100%;
}


@media screen and (max-width: 1200px) {
  .sobre-nos__classe::before {
    width: 300px;
    height: 250px;
    top: 100px;
    left: -140px;
  }

  .sobre-nos__classe::after {
    width: 300px;
    height: 250px;
    top: 90px;
    left: -150px;
  }

  .sobre-nos__titulo {
    font-size: 1.5rem;
  }

  .sobre-nos__box-text {
    font-size: 1rem;
  }

  .sobre-nos__box {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .sobre-nos__img {
    width: 80%;
  }

  .sobre-nos__bloco {
    flex-direction: column;
    padding: 100px 0;
  }

  .sobre-nos__box {
    text-align: center;
    width: 90%;
  }

  .sobre-nos__box p {
    padding: 20px 10px 0;
  }

  .sobre-nos__titulo::after {
    margin: 0 auto;
  }

  .sobre-nos__classe::before {
    top: 50px;
    left: -90px;
  }

  .sobre-nos__classe::after {
    top: 40px;
    left: -100px;
  }
}

@media screen and (max-width: 492px) {
  .sobre-nos__classe::before {
    top: 40px;
    left: -150px;
  }

  .sobre-nos__classe::after {
    top: 30px;
    left: -160px;
  }

  .sobre-nos__box-text {
    font-size: .9rem;
  }
}

@media screen and (max-width: 450px) {
  .sobre-nos__classe::before {
    width: 160px;
    height: 150px;
    top: 60px;
    left: -40px;
  }
  
  .sobre-nos__classe::after {
    width: 160px;
    height: 150px;
    top: 50px;
    left: -50px;
  }
}

@media screen and (max-width: 300px) {
  .sobre-nos__classe::before {
    width: 160px;
    height: 150px;
    top: 60px;
    left: -40px;
  }
  
  .sobre-nos__classe::after {
    width: 160px;
    height: 150px;
    top: 50px;
    left: -50px;
  }
  
}