@import url(css/topbar.css);
@import url(css/chamada.css);

body {
  font-family: 'Open Sans', sans-serif;
}

:root {
  --branco: #FFFFFF;
  --azul-bg: #131E54;
  --azul-bg2: #1F3289;
  --laranja-bg: #F76708;
  --cinza-bg: #545454;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

