@import url(css/topbar.css);
@import url(css/chamada.css);
@import url(css/service.css);
@import url(css/sobre-nos.css);
@import url(css/produtos.css);


:root {
  --branco: #FFFFFF;
  --azul-bg: #131E54;
  --azul-bg2: #1F3289;
  --laranja: #F76708;
  --cinza-bg: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  z-index: 2;
}

body {
  font-family: 'Open Sans', sans-serif;
}

